<!-- 会員登録画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>会員登録</title>

	<link rel="stylesheet" href="../css/style.css" />
</head>
<body>
	<div id="wrap">
		<div id="head">
			<h1>会員登録</h1>
		</div>
<!-- フォーム開始 -->
		<div id="content">
			<p>次のフォームに必要事項をご記入ください。</p>
			<form action="join.php"  id="form" method="post" enctype="multipart/form-data">
				<dl>
					<dt>ニックネーム<span class="required">必須</span><dt>
						<dd>
							<input id="name" type="text" name="name" size="35" maxlength="255" required/>
							<br>
							<small id="message" ></small>
						</dd>
					<dt>メールアドレス<span class="required">必須</span></dt>
						<dd>
						<input id="email" type="email" name="email" size="35" maxlength="255" >
						<small id="message"></small>
						</dd>
					<dt>パスワード<span class="required">必須</span></dt>
						<dd>
						<input id="password" type="password" name="password" size="10" maxlength="20" >
						<small id="message"></small>
						</dd>
					<dt>写真など</dt>
						<dd>
						<input id="image" type="file" name="image" size="35" />
						<small id="message"></small>
						</dd>
				</dl>
				<div><input id="button" type="submit" value="入力内容を確認する" /></div>
			</form>
		</div>
<!-- フォーム終了 -->
<script src="../js/join.js"></script>
</body>
</html>
