<!-- ログイン後メイン画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ひとこと掲示板</title>

	<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div id="wrap">
  <div id="head">
    <h1>ひとこと掲示板</h1>
  </div>
  <div id="content">
    <div style="text-align: right"><a href="../logout.php">ログアウト</a></div>
    <form action="" method="post">
      <dl>
      <!-- アカウントの名前を表示 -->
        <dt>●●さん、メッセージをどうぞ</dt>
        <dd>
          <!-- 返信したいメッセージを表示 -->
          <textarea name="message" cols="50" rows="5"></textarea>
          <!-- 返信したいメッセージのidをフォームにわたす -->
          <input type="hidden" name="reply_post_id" value="" />
        </dd>
      </dl>
      <div>
        <p>
          <input type="submit" value="投稿する" />
        </p>
      </div>
    </form>

    <!-- 投稿の一覧を表示 -->
    <!-- 繰り返し配列の中身を精査して$postにわたす -->

    <div class="msg">
    <!-- アカウントが登録する画像を取得して表示 画像が保管されているディレクトリ名「member_picture/」を補完-->
    <img src="member_picture/" width="48" height="48" alt="" />
    <!-- DBから1件取得した$POST['message']を表示する $post['name']で投稿者の名前を表示 -->
    <!-- 「RE」の押下時に返信したいユーザーのidをパラメータに付与 -->
    <p><span class="name">（ユーザー名）</span>[<a href="../main.php?res=">Re</a>]</p>

    <!-- 投稿日時を取得して表示 -->
    <p class="day"><a href="../view.php?id=">投稿日時を取得して表示</a>

      <!-- 返信ではないメッセージには「返信元~」を非表示 -->
      <!-- 「返信元のメッセージ」の選択でパラメータにreply_message_idを渡してview.phpへ遷移 -->
      <a href="../view.php?id=">返信元のメッセージ</a>

      <!-- ログイン中のidのメッセージにのみ削除リンクを設置 -->
      <!-- 「削除」の選択でパラメータにidを渡してdelete.phpへ遷移 -->
      [<a href="../delete.php?id="
      style="color: #F33;">削除</a>]
      </p>
      </div>


    <!-- ページネーションの処理 -->
    <ul class="paging">
      <!-- ページが1より大きい時「前へ」リンクを貼る -->

        <li><a href="../main.php?page=">前のページへ</a></li>

      <!-- ページが1だったら「前へ」リンクを貼らない -->
        <li>前のページへ</li>

      <!-- $pageが最大のページ数に達していなければ「次へ」リンクを貼る -->

        <li><a href="../main.php?page=">次のページへ</a></li>
      <!-- $pageが最大のページ数に達してたときは「次へ」リンクを貼らない -->
        <li>次のページへ</li>
    </ul>
  </div>
</div>
</body>
</html>
